<!--<link rel="stylesheet" href="_assets/css/pure-tab.css">-->
<div>
    <h1>{{$ctrl.user.fullname}}'s Info ({{$ctrl.user.username}})</h1>

    <!--<p>Username : {{data.username}}</p>-->

    <uib-tabset>
        <uib-tab heading="Attended Activities">
            <table class="table">
                <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th>Session</th>
                    <th width="10%">Check In</th>
                    <th width="10%">Check Out</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="log in $ctrl.logList | orderBy:'checkInTime':true">
                    <!--<td>{{log.id}}</td>-->
                    <td><a href="#!/session/{{log.event.id}}">{{log.event.name}}</a></td>
                    <td>{{log.checkInTime| date:'HH:mm:ss'}}</td>
                    <td>{{log.checkOutTime|date:'HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="My Activities">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <!--<th width="10%">Check In</th>-->
                    <!--<th width="10%">Check Out</th>-->
                    <th width="30%">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="session in $ctrl.sessionList">
                    <td><a ng-href="#!/session/{{session.id}}">{{session.name}}</a></td>
                    <!--<td><a class="pure-button button-xsmall" ng-href="api/event/{{session.id}}/checkin/key" target="_blank">Check In</a></td>-->
                    <!--<td><a class="pure-button button-xsmall" ng-href="api/event/{{session.id}}/checkout/key" target="_blank">Check Out</a></td>-->
                    <td><a class="pure-button button-xsmall" ng-click="$ctrl.deleteSession(session.id)" href>Delete</a><a class="pure-button button-xsmall" ng-href="#!/session/edit/{{session.id}}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>

</div>